{% extends "psybase.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<section style="margin-top: 50px; width: 1450px; height: 550px; background-color: #FFF1F2; display: flex; align-items: center; justify-content: center;">
  <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/corousel1.png' %}" width="1000" height="470">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/corousel2.png' %}" width="1000" height="470">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/corousel3.png' %}" width="1000" height="470">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<section style="margin-top: 50px; width: 1450px; height: 550px; background-color: #FFF1F2; display: flex; align-items: center; justify-content: center;"">
  <div id="carauselkedua" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carauselkedua" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carauselkedua" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carauselkedua" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carauselkedua" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/crl1.png' %}" class="d-block" width="1000" height="470">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/crl2.png' %}" class="d-block" width="1000" height="470">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/crl3.png' %}" class="d-block" width="1000" height="470">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/crl4.png' %}" class="d-block" width="1000" height="470">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carauselkedua" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carauselkedua" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<script src="https://kit.fontawesome.com/df686caf24.js" crossorigin="anonymous"></script>
{% endblock %}