{% extends "patientbase.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<div class="checkout-container" style="margin-top: 100px;">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <a href="{% url 'search' %}" style="color: #268FCA; margin-left: 610px; font-size: 16px;">
                <i class="fa-regular fa-circle-xmark fa-2xl"></i>
            </a>
            <form method="post" action="{% if consultation.id %}{% url 'checkout' consultation.id %}{% endif %}">
              {% csrf_token %}
                <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <h3 class="mb-0">Full name</h3>
                  </div>
                  <div class="col-md-9 pe-5">
                    <h5>{{ consultation.psychologist.user.get_full_name }}</h5>
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h3 class="mb-0">Price</h3>
                  </div>
                  <div class="col-md-9 pe-5">
                    <h5>{{ consultation_price }}</h5>
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h3 class="mb-0">Date</h3>
                  </div>
                  <div class="col-md-9 pe-5">
                    <h5><input type="date" id="consultation-date" name="consultation_date" required></h5>
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="row align-items-center py-3">
                  <div class="col-md-3 ps-5">
                    <h3 class="mb-0">Payment Method</h3>
                  </div>
                  <div class="col-md-9 pe-5">
                    <h5><img src="{% static 'img/ovo.png' %}" style="width: 50px; margin-right: 10px;"><img src="{% static 'img/gopay.png' %}" style="width: 50px; margin-right: 10px;"><img src="{% static 'img/spay.png' %}" style="width: 40px;"></h5>
                    <h5>{{ psychologist_phone }}</h5>
                  </div>
                </div>
                <hr class="mx-n3">
                <div class="px-5 py-4">
                    <button type="submit" class="btn" style="color: white; background-color: #268FCA;">Send</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
