{% extends "patientbase.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
<div class="search-container" style="margin-top: 40px;">
    <div class="container-search">
        <div class="input-group">
            <form action="{% url 'search' %}" method="GET">
                <div class="form-outline" data-mdb-input-init style="margin-right: 300px; margin-top: 15px;">
                    <input type="search" id="form1" class="form-control" name="name_query" size="40"/>
                    <button id="search-btn" type="submit" class="btn" style="background-color: #FFC436; color: white;" data-mdb-ripple-init>
                        <i class="fas fa-search"></i>
                    </button>
                    <button type="button" class="btn" style="background-color: #FFC436; color: white;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa-solid fa-filter"></i>
                    </button>
                </div>
            </form>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Filter</h1>
                        </div>
                        <div class="modal-body">
                            <div class="harga">
                                <h1>Sort By</h1>
                                <div class="list-harga">
                                    <div class="data-harga">
                                        <a href="?order_by_price=highest">Highest Price</a>
                                    </div>
                                    <div class="data-harga">
                                        <a href="?order_by_price=lowest">Lowest Price</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="psychologists-list">
            <div class="col-lg-6 col-md-8 mx-auto">
                <div class="row">
                    {% for psychologist in psychologists %}
                        <div class="card mb-4" style="border-radius: 15px; width: 600px;">
                            <div class="card-body">
                                <div class="d-flex text-black">
                                    <div class="flex-shrink-0">
                                        <img src="{{ psychologist.photo.url }}" alt="{{ psychologist.user.username }} Photo" class="img-fluid" style="width: 180px; border-radius: 10px;">
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-flex flex-column justify-content-between">
                                        <div>
                                            <h3 style="margin: 20px 30px; margin-bottom: 0px;">{{ psychologist.user.get_full_name }}</h3><br>
                                            <h5 class="mb-0" style="margin: 0px 32px; color: #DB224E; font-size: 15px;"><i class="fa-regular fa-face-smile-beam" style="margin-right: 5px;"></i>{{ psychologist.ratings_received.all.count }} of clients are satisfied</h5><br>
                                            <i class="fa-solid fa-graduation-cap" style=" margin-left: 30px; color: blue; font-size: 15px;"><span style="margin-left: 5px; color: black; font-weight: normal; font-size: 15px;">Education:</span>
                                                <div style="color: black; margin-left: 24px;">
                                                    <h5>{{ psychologist.educations1 }}</h5>
                                                    <h5>{{ psychologist.educations2 }}</h5>
                                                </div>
                                            </i>
                                            <i class="fa-solid fa-tags" style=" margin-left: 30px; color: blue; font-size: 15px;">
                                                <span style="margin-left: 5px; color: black; font-weight: normal; font-size: 15px;">{{ psychologist.cons_price }}</span>
                                            </i>
                                        </div>
                                        <div class="mt-3">
                                            <a href="{% url 'order_consultation' psychologist.id %}" class="btn btn-link" style="font-size: 30px; margin-left: 290px;"><i class="fa-solid fa-comments"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>        
</div>
<script src="https://kit.fontawesome.com/df686caf24.js" crossorigin="anonymous"></script>
{% endblock %}
