{% extends "psybase.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/order_incoming.css' %}">
<div class="container" style="margin-top: 80px;">
    <div class="orders_request">
        <div class="request__content">
            <div class="request_items">
                <div class="menu-order"><a href="orders_incoming">Incoming Order</a></div>
                <div class="menu-order"><a href="orders_onprogres">On Progres</a></div>
                <div class="menu-order"><a class="active" href="orders_completed">Completed</a></div>
            </div>
            <div class="card-container" style="margin-top: 20px;">
                <center><h2>Completed Consultations:</h2></center>
                <div class="request_order">
                    {% for consultation in completed_consultations %}
                        <div class="card mb-4" style="border-radius: 15px; width: 600px; margin-top: 20px;">
                            <div class="card-body">
                                <div class="d-flex text-black">
                                    <div class="flex-shrink-0">
                                        {% if consultation.patient.photo %}
                                            <img src="{{ consultation.patient.photo.url }}" alt="Patient Photo" class="img-fluid" style="width: 100px; border-radius: 10px;">
                                        {% endif %}
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-flex flex-column justify-content-between">
                                        <div style="margin: 30px 20px;">
                                            <h3>{{ consultation.patient.user.username }}</h3>
                                            <h5>{{ consultation.date }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <img src="{% static 'img/nodata.png' %}" style="width: 200px; height: 200px; margin-top: 20px;">
                    {% endfor %}
                </div>
                <center><h2>Rejected Consultations:</h2></center>
                <div class="request-order" style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
                    {% for consultation in rejected_consultations %}
                        <div class="card mb-4" style="border-radius: 15px; width: 600px; margin-top: 20px;">
                            <div class="card-body">
                                <div class="d-flex text-black">
                                    <div class="flex-shrink-0">
                                        {% if consultation.patient.photo %}
                                            <img src="{{ consultation.patient.photo.url }}" alt="Patient Photo" class="img-fluid" style="width: 100px; border-radius: 10px;">
                                        {% endif %}
                                    </div>
                                    <div class="flex-grow-1 ms-3 d-flex flex-column justify-content-between">
                                        <div style="margin: 30px 20px;">
                                            <h3>{{ consultation.patient.user.username }}</h3><br>
                                            <h5>{{ consultation.date }}</h5><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <center><img src="{% static 'img/nodata.png' %}" style="width: 200px; height: 200px; margin-top: 20px;"></center>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}